body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
  }
  
  h2, p {
    margin-bottom: 30px;
  }
  
  section p {
    font-size: 36px;
  }
  
  #outerShell {
    display: none;
  }
  
  @media screen and (min-width: 1200px) {
    #mobile-tablet-view {
      display: none;
    }
    #outerShell {
      display: block;
      max-width: 1200px;
      margin: auto;
      border: solid 1px #666;
    }
    #imageCon {
      position: relative;
      max-width: 1200px;
      height: 90vh;
    }
    .slideImage {
      position: absolute; /*images are stacked in order via absolute*/
      left: 0;
      right: 0;
      height: 90vh;
    }
    .image-right {
      background: url(../images/x-ray.jpg) no-repeat;
      background-size: cover;
    }
    .image-left {
      background: url(../images/earbud.jpg) no-repeat;
      width: 50%; /*start the image at the halfway point*/
      background-size: cover;
    }
    .image-drag {
      background-color: #666;
      left: 50%; /*match up with image left*/
      width: 4px; /*orig 49*/
      cursor: pointer;
    }
  }